<button class="btnsc" onclick="scrollwindow()">
    <img src="/assets/img/clipart1850660.png" alt="buttonpng">
</button>
<script>
    function scrollwindow() {
        window.scrollTo(0, 0);
    }
</script>